html, body {
 	background-color: #ffffff;
 	color: #222222;

 	background-color: #000000;
 	color: #dddddd;
}

.transcript {
	margin: 10px 30px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 32px;
	line-height: 48px;
	letter-spacing: 4px;
 	font-weight: 800;
}

.transcript__beta {
	color: #666666;

	color: #999999;
}

.transcript__alpha {
	color: #aaaaaa;

	color: #555555;
}
